<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="学生绩点管理系统.Properties.Settings.学生绩点ConnectionString"
            connectionString="Data Source=.;Initial Catalog=学生绩点;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="学生绩点管理系统.Properties.Settings.学生绩点ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=学生绩点;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>